{% extends "layout.jinja2" %}

{% block content %}

	<div id="parking-app-header" class="parking-app-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<img src="{{ url_for('static', filename='img/favicon.png') }}">
		<h1 class ="display-4">Parkings fillrate app</h1>
		<p class="lead">This application use OpenData from the south french city Montpellier in order to provide a fillrate for the various parkings in the city.</p>
	</div>
	<div id="parkings-list" class="container">
		<ul id="parkings" class="list-group">
        </ul>
	</div>
    
{% endblock content %}

{% block script %}
	<script type="module" src="{{url_for('static', filename='js/script.js')}}">
	</script>
{% endblock script %}