{% extends "layout.jinja2" %}

{% block content %}

	<div id="parking-app-header" class="parking-app-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class ="display-4">Parkings fillrate app</h1>
		<p class="lead">This application use OpenData from the south french city Montpellier in order to provide a fillrate for the various parking in the city.</p>
	</div>
	<div id="parkings-list" class="container">
		<ul id="parkings" class="list-group">
    	{% for parking_label, parking_information in parking_informations.items() %}
    		<li class="list-group-item " >
    			<div class="d-flex justify-content-between">
    				{{parking_label}}
    				<small class="d-flex">2 minutes ago</small>
    			</div>
    			{% if parking_information.Status=="Open"%}
    				<span class="badge badge-success badge-pill">Open</span>
    			{% else %}
    				<span class="badge badge-danger badge-pill">Closed</span>
    			{% endif %}
    		</li>
    	{% endfor %}
    </ul>
	</div>
    
{% endblock content %}

{#{% block script %}
	<script type="module" src="{{url_for('static', filename='js/script.js')}}">
	</script>
{% endblock script%}#}